---
layout: default
title: "Post"
---
<article class="blog-post">
  <h1>{{ page.title }}</h1>
  <p class="text-muted">{{ page.date | date: "%B %d, %Y" }}</p>
  <div class="post-meta mb-3">
    {% if page.tags %}
    <p class="text-secondary">
      Topics:
      {% for tag in page.tags %}
        <span class="badge badge-pill badge-info">{{ tag }}</span>
      {% endfor %}
    </p>
    {% endif %}
  </div>
  <hr>
  <div class="post-content">
    {{ content }}
  </div>
  <p><a href="/blog.html">&larr; Back to Blog</a></p>
</article>

<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    this.page.identifier = '{{ page.url }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://YOUR_DISQUS_SHORTNAME.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
